{% extends "layout.html" %}
{% block body %}
<script type="text/javascript">

$.ajax({
  url: $SCRIPT_ROOT + "records",
  success: function(data){
    $('#ajax-table').dynatable({
      dataset: {
        records: data.records
      }
    });
  }
});
</script>
<head>
    <title>Zebras</title>

    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="static/bootstrap-theme.min.css"  rel="stylesheet"> -->
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>
<h1>Zebra Opioid Research</h1>

<table id="ajax-table" class="table table-bordered">
  <thead>
    <th>state</th>
    <th>county</th>
    <th>fips</th>
    <th>od_count</th>
    <th>opioid_claim_count</th>
    <th>county_population</th>
    <th>OD_per_prescription</th>
    <th>OD_per_rx_rank</th>
    <th>OD_per_capita</th>
    <th>RX_per_capita</th>
    <th>OD_per_capita_rank</th>
    <th>RX_per_capita_rank </th>
  </thead>
  <tbody>
  </tbody>
</table>
{% endblock %}